.note-entry{
    margin-top:8px;
    height:30%;
}

.author-entry{
    width:100%;
    height:40px;
}

textarea, input{
    border-width:1px;
    border-style:solid;
    border-color:rgb(200,200,200);
    width:100%;
    box-sizing:border-box;
    font-size:20px;
    border-radius:0;
}

.save-button{
    width:100%;
    height:40px;
    margin-top:5px;
}

html, body{
    height:100%;
}

body{
    margin-left:8px;
    margin-right:8px;
}